{% extends 'base.html' %}
{% load static %}


  {% block title %}
  <title>硬件资产列表</title>
  {% endblock title %}
		  
		  {% block leftnav %}
          <li class="nav-item">
            <a href="{% url 'assets:index' %}" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                仪表盘
              </p>
            </a>
          </li>
		  
		  <li class="nav-item">
            <a href="{% url 'assets:hardware' %}" class="nav-link active">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                硬件资产
              </p>
            </a>
          </li>
		  
		  <li class="nav-item">
            <a href="{% url 'assets:software' %}" class="nav-link">
              <i class="nav-icon far fa-credit-card"></i>
              <p>
                软件资产
              </p>
            </a>
          </li>
		  <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
			  <i class="nav-icon fas fa-history"></i>
              <p>
                日志审计
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'assets:audit_login' %}" class="nav-link">
                  <i class="fas fa-user-edit nav-icon"></i>
                  <p>用户日志</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'assets:operation' %}" class="nav-link">
                  <i class="fas fa-wrench nav-icon"></i>
                  <p>操作日志</p>
                </a>
              </li>
            </ul>
          </li>
		  {% endblock leftnav %}

    {% block navheader %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-1">
          <div class="col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'assets:index' %}">首页</a></li>
              <li class="breadcrumb-item active">硬件资产列表</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
	{% endblock navheader %}


		  {% block content %}
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">硬件资产列表<a href="javascript:void(0)" class="btn btn-sm btn-info ml-3">新增 + </a></h3>
				<div class="card-tools">
				  <button type="button" class="btn btn-tool" data-widget="collapse">
					<i class="fas fa-minus"></i>
				  </button>
				  <button type="button" class="btn btn-tool" data-widget="remove">
					<i class="fas fa-times"></i>
				  </button>
				</div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="assets-lists" class="table table-bordered table-striped">
                <thead>
                <tr>
				  <th>资产类型</th>
				  <th>子类型</th>
				  <th>资产名称</th>
				  <th>SN序列号</th>
				  <th>业务线</th>
				  <th>状态</th>
				  <th>机房</th>
				  <th>添加日期</th>
				  <th>更新日期</th>
				  <th>标签</th>
				  <th>操作</th>
                </tr>
                </thead>
                <tbody>
				{% for asset in assets %}
                <tr id="asset-{{ asset.id }}">
                  {% if asset.asset_type == 'server' %}
                      <td class="text-bold" style="color:green;">{{ asset.get_asset_type_display }}</td>
                      <td>{{ asset.server.get_sub_asset_type_display }}</td>
                  {% elif asset.asset_type == "networkdevice" %}
                      <td class="text-bold" style="color:gray;">{{ asset.get_asset_type_display }}</td>
                      <td>{{ asset.networkdevice.get_sub_asset_type_display }}</td>
                  {% elif asset.asset_type == "storagedevice" %}
                      <td class="text-bold" style="color:blue;">{{ asset.get_asset_type_display }}</td>
                      <td>{{ asset.storagedevice.get_sub_asset_type_display }}</td>
                  {% elif asset.asset_type == "securitydevice" %}
                      <td class="text-bold" style="color:red;">{{ asset.get_asset_type_display }}</td>
                      <td>{{ asset.securitydevice.get_sub_asset_type_display }}</td>
                  {% endif %}
				  
				  {% if asset.asset_type == 'server' %}
				  <td><a href="{% url 'assets:detail' asset.id %}">{{ asset.name }}</a></td>
				  {% else %}
				  <td>{{ asset.name }}</td>
				  {% endif %}
				  
				  <td>{{ asset.sn }}</td>
				  <td>{{ asset.business_unit | default_if_none:"-" }}</td>
				  
				  {% if asset.status == 0 %}
				  <td><label class="label label-success">{{ asset.get_status_display }}</label></td>
				  {% elif asset.status == 1 %}
				  <td><label class="label label-warning">{{ asset.get_status_display }}</label></td>
				  {% elif asset.status == 2 %}
				  <td><label class="label label-default">{{ asset.get_status_display }}</label></td>
				  {% elif asset.status == 3 %}
				  <td><label class="label label-danger">{{ asset.get_status_display }}</label></td>
				  {% elif asset.status == 4 %}
				  <td><label class="label label-info">{{ asset.get_status_display }}</label></td>
				  {% endif %}
				  
				  <td>{{ asset.idc|default:"-" }}</td>
				  <td>{{ asset.c_time|date:"Y/m/d H:m:s" }}</td>
				  <td>{{ asset.m_time|date:"Y/m/d H:m:s" }}</td>
				  <td>
					  {% for tag in asset.tags.all %}
                        <label class="label label-primary">{{ tag.name }}</label>
                      {% empty %}
                          -
                      {% endfor %}
				  </td>
				  <td>
					<a href="#">修改</a> 
					<a href="javascript:void(0);" id="{{ asset.id }}" onclick="createmodal(this);" title="{{ asset.get_asset_type_display }},{{ asset.name }}">删除</a>
				  </td>
                </tr>
				{% empty %}
                <tr>没有数据！</tr>
				{% endfor %}
                </tbody>
                <tfoot>
                <tr>
				  <th>资产类型</th>
				  <th>子类型</th>
				  <th>资产名称</th>
				  <th>SN序列号</th>
				  <th>业务线</th>
				  <th>状态</th>
				  <th>机房</th>
				  <th>添加日期</th>
				  <th>更新日期</th>
				  <th>标签</th>
				  <th>操作</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
		  <!--删除确认窗口-->
		  <div id="modal-container">
		  </div>		  
		  {% endblock content %}

{% block js %}
<!-- 删除 -->
<script>
	createmodal = function (event) {
		var thisObj = $(event);	//js对象转jquery对象  
		var asset_id = thisObj.attr('id');
		var asset_name = thisObj.attr("title");

		// 生成弹出框，使用 \ 换行
		$("#modal-container").html('<div id="modal-delete-' + asset_id + '" class="iziModal"><div class="container-fluid"><div class="row">\
									<div class="col-12 p-3"><h5 class="text-center mt-3">确定要删除 <' + asset_name + '> 吗？</h5></div><div class="col-6 p-3">\
									<button type="button" class="btn btn-block btn-secondary btn-flat" data-iziModal-close>取消</button></div><div class="col-6 p-3">\
									<a href="javascript:void(0)"><button type="button" class="btn btn-block btn-success btn-flat" id="' + asset_id + '-yes" title="\
									' + asset_name + '" onclick="deletehardware(this);">确定</button></a></div></div></div></div>');
		
		// 初始化弹出框
		$("#modal-delete-" + asset_id).iziModal({
			iconClass: 'icon-announcement',
			width: 450,
			padding: 10,
			overlayClose: false,	// 是否允许点击模态窗口的外部来关闭模态窗口。
			closeOnEscape: false, 	// 是否允许通过点击ESC键来关闭模态窗口。
		});
				
		// 打开弹出框
		$('#modal-delete-' + asset_id).iziModal('open');
	}
	
		
	deletehardware = function(event) {
		toastr.options.closeButton = true;
		toastr.options.showMethod = 'slideDown';
		toastr.options.hideMethod = 'fadeOut';
		toastr.options.closeMethod = 'fadeOut';
		toastr.options.timeOut = 4000;	
		toastr.options.extendedTimeOut = 0;	
		
		var thisObj = $(event);	//js对象转jquery对象
		var asset_id = thisObj.attr('id').split("-")[0];
		var asset_name = thisObj.attr("title");
		csrfmiddlewaretoken = '{{ request.COOKIES.csrftoken }}';
		$.ajax({
			url: "{% url 'assets:hardware_delete' %}",
			async: true,
			type: 'POST',
			dataType: 'json',
			data: {
				'csrfmiddlewaretoken': csrfmiddlewaretoken,
				'id': asset_id,
			},
			timeout: 10000,
			cache: true,
			beforeSend: LoadFunction, //加载执行方法
			error: errFunction,  //错误执行方法
			success: succFunction, //成功执行方法
		});
		
		function LoadFunction() {
			//$("#aboutcontent").html('删除中...');
			//alert('删除中');
		};
		
		function errFunction() {
			// 关闭弹出框
			$('#modal-delete-' + asset_id).iziModal('close');
			// 消息框
			toastr.error('删除错误 <' + asset_name + '>');
		};
		
		function succFunction(res) {
			if (res.code != 200) {
				// 关闭弹出框
				$('#modal-delete-' + asset_id).iziModal('close');
				// 消息框
				toastr.error('删除错误 <' + asset_name + '>');
			} else {
				// 先销毁 datatable , 动态删除数据后，然后再重建
				var dttable = $('#assets-lists').DataTable();
				dttable.destroy();
				
				$("#asset-" + asset_id).remove();
				
				$("#assets-lists").DataTable({
					language: {
						"sProcessing": "处理中...",
						"sLengthMenu": "显示 _MENU_ 项结果",
						"sZeroRecords": "没有匹配结果",
						"sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
						"sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
						"sInfoFiltered": "(由 _MAX_ 项结果过滤)",
						"sInfoPostFix": "",
						"sSearch": "搜索:",
						"sUrl": "",
						"sEmptyTable": "表中数据为空",
						"sLoadingRecords": "载入中...",
						"sInfoThousands": ",",
						"oPaginate": {
							"sFirst": "首页",
							"sPrevious": "上页",
							"sNext": "下页",
							"sLast": "末页"
						},
						"oAria": {
							"sSortAscending": ": 以升序排列此列",
							"sSortDescending": ": 以降序排列此列"
						}
					},
					destroy: true,	// 允许重建
					bProcessing:true,  // 表格数据过多处理时显示: sProcessing
					lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "全部"]],
					order: [],
					 scrollY: 480,	// 滚动条
					 scrollCollapse: true,
					 jQueryUI: true,
					 stateSave: true,	// 保存最后一次分页信息、排序信息，当页面刷新，或者重新进入这个页面，恢复上次的状态。
					 stateDuration: 86400,	// 本地储存(0~更大)还是session储存(-1) 
				});
				
				// 关闭弹出框
				$('#modal-delete-' + asset_id).iziModal('close');
				
				// 消息框
				toastr.success('成功删除 <' + asset_name + '>');
			}
		};
	}
	
</script>
{% endblock js %}
